<!doctype html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        <select id="" name="theme" class="selectpicker btn-info" aria-required="true" style="margin-left: 10%; margin-bottom: 20px;" required>
            <option value="" selected disabled>-- Categorie --</option>
            <option value="1">Panne materiel</option>
            <option value="2">Panne logiciel</option>
            <option value="3">Autre</option>
        </select>
        <textarea name="description" cols="30" rows="10" placeholder="description de l'incident" style="display: block; height: 400px;width: 80%;margin: auto" required></textarea>
        <button style="margin-left: 10%; margin-top: 20px;">Submit</button>
    </form>
</body>
</html>