{% extends "ProjetBundle::layout.html.twig" %}
{% block content %}
<div class="container">
   <div class="row">
      <div class="col-lg-6">
   <h1>Bienvenue sur le ProjetBundle</h1>
   </div>
</div>
   </div>
{% endblock %}
{% block title %}
{% endblock %}