{% extends "ProjetBundle::layout.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">




            {% for u in utilisateurs %}
                <div class="col-xs-4">
                    <form class="form-signin" action="salle/machine" method="post">
                        <button type="submit" >{{ u.name }}</button>
                        <input type="hidden" name="coco" value="{{ u.name }}">
                    </form>
                </div>
            {% endfor %}
            <div class="col-xs-4">
                <form class="form-signin" action="index">
                    <button type="submit" >Retour</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block title %}
{% endblock %}