<html>
	<head>
		<title> Formulaire Salle </title>
	</head>

	<body>
	<center>
		<h1> Formulaire Salle </h1>

		<p>

		<form action="" id="">
		  Creez une salle:<input type="text" name="fname">
		  <input type="submit">
		</form>

		<p>

		Selectionez une salle:	<select>
						  		<option>salle W</option>
						  		<option>salle X</option>
						  		<option>salle Z</option>
								  ...
								</select>
		<p>

		Salle selectionnée : salle Y

		<p>

		Nombre de machine : {{ machine }}

		<p>

		<a href="">RETOUR</a> 

	</center>
	</body>



</html>