{% extends "ProjetBundle::layout.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">




            {% for u in utilisateurs %}
                <div class="col-xs-4">
                    <form class="form-signin" >
                        <button type="submit" >{{ u.name }}</button>

                    </form>




                </div>




            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block title %}
{% endblock %}